<title>Rampa Admin</title>
<nav class="navbar navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
      <p class="navbar-brand">Hola alejandro</p>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">MENU</h5>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">
              <a routerLinkActive="active" class="nav-link" routerLink="home"><i class="bi bi-house"></i>   INICIO </a>
              <a routerLinkActive="active" class="nav-link" routerLink="informacion-cliente"><i class="bi bi-person-vcard"></i>   CLIENTES </a>
              <a routerLinkActive="active" class="nav-link" routerLink="deudas"><i class="bi bi-wallet"></i>   DEUDAS </a>
              <a routerLinkActive="active" class="nav-link" routerLink="usuarios"><i class="bi bi-people"></i>   USUARIOS </a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Acciones
              </a>
              <ul class="dropdown-menu dropdown-menu-dark">
                <li>
                  <a class="dropdown-item" href="#" style="color: red;" (click)="cerrarSesion()">
                    CERRAR SESION <i class="bi bi-box-arrow-right"></i>
                  </a>
                </li>
                <li><a class="dropdown-item" routerLink="perfil" style="color: rgb(40, 207, 40);">VER PERFIL <i class="bi bi-person-lines-fill"></i></a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
  <body>
    <div class="content-admin">
      <router-outlet></router-outlet>
    </div>
  </body>